/* Filter Buttons */
#filter-buttons .filter-button {
    background: rgba(255, 255, 255, 0.175); /* Same as #nav background */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 0.8rem;
    border-radius: 5px; /* Rounded corners */
    text-transform: uppercase;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

/* Hover State */
#filter-buttons .filter-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighter hover background */
    color: #18bfef; /* Same hover text color as #nav links */
}

/* Active State */
#filter-buttons .filter-button.active {
    background-color: #ffffff; /* White background when active */
    color: #1e252d; /* Dark text color when active */
}

/* Active Hover State */
#filter-buttons .filter-button.active:hover {
    color: #18bfef; /* Same hover effect on active buttons */
}
